.background-color{
    background-color: #070e50;
}
.work-title h3{
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 50px;
}
.brcpxa{
    background-color: rgb(10, 132, 231) !important;
    box-shadow: none !important;
}
.ikyGAt{
    background-color: rgb(93, 106, 139) !important;
    box-shadow: none !important;
}
