.text{
    color: #868383;
    text-decoration: none;
    font-size: bold;
    font-weight: bold;
    text-decoration: none;
    
}
.text:hover{
    text-decoration: none;
    color: rgb(235, 5, 51);
}

