.logIn{
    border: 1px solid rgb(3, 164, 228);
    border-radius: 15px;
    text-align: center;
    padding: 80px;
}
.signIn{
    border: 1px solid rgb(68, 3, 48);
    border-radius: 15px;
    text-align: center;
    padding: 5px 20px;
    margin-top: 20px;
    background-color: rgb(3, 170, 221);
    
}
.icon{
    height: 25px;
}
.img{
    text-align: center;
    margin: 20px;
}
.logIn h6{
    color: black;
    margin-top: 10px;
}
.warning{
    color:red;
}